<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/alpfaceinterface/answer/">
    {% csrf_token %}
    问题: <input type="text" name="question_text", value="以下哪位是中国最著名的诗人?"><br>
    答案选项: <input type="checkbox" name="answeroptions" value="李白">李白
    <input type="checkbox" name="answeroptions" value="白居易">白居易
    <input type="checkbox" name="answeroptions" value="杜甫">杜甫
    <br>
    <input type="submit" value="提交">
</form>

</body>
</html>